/* ========================================
   NOVIXA DESIGN SYSTEM
======================================== */

/* Colors */
:root{

    --bg-dark:#0B0F19;
    --bg-secondary:#111827;
    --bg-card:#1A2333;

    --text-main:#F9FAFB;
    --text-muted:#9CA3AF;

    --accent-primary:#3B82F6;
    --accent-hover:#2563EB;
    --accent-glow:#60A5FA;

    --success:#10B981;
    --warning:#F59E0B;
    --danger:#EF4444;

    --border-color:#243244;

    /* Typography */

    --font-sans:'Inter',sans-serif;
    --font-mono:'JetBrains Mono',monospace;

    /* Border Radius */

    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:16px;
    --radius-pill:999px;

}